<div class="shogun-root" data-shogun-id="66cba53b909aff5b4cde51b1" data-shogun-site-id="ebede945-96ee-4e49-9818-825c29bb51da" data-shogun-section-id="66cba53b909aff5b4cde51b1" data-shogun-section-version-id="66cba572a40bd356bade8841" data-shogun-platform-type="shopify" data-shogun-variant-id="66cba572a40bd356bade88c4" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2024-08-21-1147/66cba572a40bd356bade8841_66cba572a40bd356bade88c4.css"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-08-14-1113/global-assets-6a9dabbc775a4c6faf5c9202c1e925cfd8ef0e20.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-e6f7b442-1665-4d42-9b91-c6f1bb5c3181"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-08bd7702-d619-4df9-baa7-b6baa12b9997"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"> <div id="s-484edf2a-c864-4582-8f30-3305912d3745-root"> <div class="shg-image-margin-container-s-484edf2a-c864-4582-8f30-3305912d3745"> <div class="s-484edf2a-c864-4582-8f30-3305912d3745 shg-align-container"> <div class="shg-c s-484edf2a-c864-4582-8f30-3305912d3745 shogun-image-container shg-align-center" style="opacity: 1;" id="s-484edf2a-c864-4582-8f30-3305912d3745"> <div class="shg-image-content-wrapper"> <img src="" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-484edf2a-c864-4582-8f30-3305912d3745" }
    }
  </script> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"> <div id="s-c4abab0b-8fca-4dae-b5f3-592502431dbb-root"> <div class="shg-image-margin-container-s-c4abab0b-8fca-4dae-b5f3-592502431dbb"> <div class="s-c4abab0b-8fca-4dae-b5f3-592502431dbb shg-align-container"> <div class="shg-c s-c4abab0b-8fca-4dae-b5f3-592502431dbb shogun-image-container shg-align-center" style="opacity: 1;" id="s-c4abab0b-8fca-4dae-b5f3-592502431dbb"> <div class="shg-image-content-wrapper"> <img src="" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-c4abab0b-8fca-4dae-b5f3-592502431dbb" }
    }
  </script> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"> <div id="s-5667bf7b-05ee-41d8-a132-472294b54d92-root"> <div class="shg-image-margin-container-s-5667bf7b-05ee-41d8-a132-472294b54d92"> <div class="s-5667bf7b-05ee-41d8-a132-472294b54d92 shg-align-container"> <div class="shg-c s-5667bf7b-05ee-41d8-a132-472294b54d92 shogun-image-container shg-align-center" style="opacity: 1;" id="s-5667bf7b-05ee-41d8-a132-472294b54d92"> <div class="shg-image-content-wrapper"> <img src="" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-5667bf7b-05ee-41d8-a132-472294b54d92" }
    }
  </script> <div id="s-f1d02796-995b-4bc6-a8a8-c76f507d8698-root"> <div class="shg-image-margin-container-s-f1d02796-995b-4bc6-a8a8-c76f507d8698"> <div class="s-f1d02796-995b-4bc6-a8a8-c76f507d8698 shg-align-container"> <div class="shg-c s-f1d02796-995b-4bc6-a8a8-c76f507d8698 shogun-image-container shg-align-center" style="opacity: 1;" id="s-f1d02796-995b-4bc6-a8a8-c76f507d8698"> <div class="shg-image-content-wrapper"> <img src="" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-f1d02796-995b-4bc6-a8a8-c76f507d8698" }
    }
  </script> </div> </div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "new homepage banner",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=66cba53b909aff5b4cde51b1&shop=www.globaldentalshop.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "new homepage banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
