<div class="shogun-root" data-shogun-id="66cba53b909aff5b4cde51b1" data-shogun-site-id="ebede945-96ee-4e49-9818-825c29bb51da" data-shogun-section-id="66cba53b909aff5b4cde51b1" data-shogun-section-version-id="66d1fb956a3c1234fd1ee03a" data-shogun-platform-type="shopify" data-shogun-variant-id="66d1fb956a3c1234fd1ee0bd" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2024-08-21-1147/66d1fb956a3c1234fd1ee03a_66d1fb956a3c1234fd1ee0bd.css"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-08-14-1113/global-assets-850cd08798088f3ce5ef016f2b21b81dcbc34442.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-e6f7b442-1665-4d42-9b91-c6f1bb5c3181"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-08bd7702-d619-4df9-baa7-b6baa12b9997"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"> <div id="s-484edf2a-c864-4582-8f30-3305912d3745-root"> <div class="shg-image-margin-container-s-484edf2a-c864-4582-8f30-3305912d3745"> <div class="s-484edf2a-c864-4582-8f30-3305912d3745 shg-align-container"> <div class="shg-c s-484edf2a-c864-4582-8f30-3305912d3745 shogun-image-container shogun-image-linked shg-align-center" style="opacity: 1;" id="s-484edf2a-c864-4582-8f30-3305912d3745"> <div class="shg-image-content-wrapper"> <a class="shogun-image-link" href="https://www.globaldentalshop.com/collections/all" target="_blank"> <img srcset="https://i.shgcdn.com/281f5d05-e8be-479d-955c-76ab0403f533/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/180x/ 180w,https://i.shgcdn.com/281f5d05-e8be-479d-955c-76ab0403f533/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/360x/ 360w,https://i.shgcdn.com/281f5d05-e8be-479d-955c-76ab0403f533/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/720x/ 720w" sizes="100vw" src="https://i.shgcdn.com/281f5d05-e8be-479d-955c-76ab0403f533/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="border-radius: 10px;" alt="" class="shogun-image " decoding="async" loading="eager"/> </a> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-484edf2a-c864-4582-8f30-3305912d3745" }
    }
  </script> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"> <div id="s-c4abab0b-8fca-4dae-b5f3-592502431dbb-root"> <div class="shg-image-margin-container-s-c4abab0b-8fca-4dae-b5f3-592502431dbb"> <div class="s-c4abab0b-8fca-4dae-b5f3-592502431dbb shg-align-container"> <div class="shg-c s-c4abab0b-8fca-4dae-b5f3-592502431dbb shogun-image-container shg-align-center" style="opacity: 1;" id="s-c4abab0b-8fca-4dae-b5f3-592502431dbb"> <div class="shg-image-content-wrapper"> <img srcset="https://i.shgcdn.com/7f06848b-2a32-469e-9319-88cf2be76fac/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/180x/ 180w,https://i.shgcdn.com/7f06848b-2a32-469e-9319-88cf2be76fac/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/360x/ 360w,https://i.shgcdn.com/7f06848b-2a32-469e-9319-88cf2be76fac/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/720x/ 720w" sizes="100vw" src="https://i.shgcdn.com/7f06848b-2a32-469e-9319-88cf2be76fac/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="border-radius: 10px;" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-c4abab0b-8fca-4dae-b5f3-592502431dbb" }
    }
  </script> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"> <div id="s-5667bf7b-05ee-41d8-a132-472294b54d92-root"> <div class="shg-image-margin-container-s-5667bf7b-05ee-41d8-a132-472294b54d92"> <div class="s-5667bf7b-05ee-41d8-a132-472294b54d92 shg-align-container"> <div class="shg-c s-5667bf7b-05ee-41d8-a132-472294b54d92 shogun-image-container shg-align-center" style="opacity: 1;" id="s-5667bf7b-05ee-41d8-a132-472294b54d92"> <div class="shg-image-content-wrapper"> <img srcset="https://i.shgcdn.com/29b4306b-4d79-41c9-88ad-b57b30b56381/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/180x/ 180w,https://i.shgcdn.com/29b4306b-4d79-41c9-88ad-b57b30b56381/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/360x/ 360w,https://i.shgcdn.com/29b4306b-4d79-41c9-88ad-b57b30b56381/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/720x/ 720w,https://i.shgcdn.com/29b4306b-4d79-41c9-88ad-b57b30b56381/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/900x/ 900w" sizes="100vw" src="https://i.shgcdn.com/29b4306b-4d79-41c9-88ad-b57b30b56381/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="border-radius: 10px;" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-5667bf7b-05ee-41d8-a132-472294b54d92" }
    }
  </script> <div id="s-f1d02796-995b-4bc6-a8a8-c76f507d8698-root"> <div class="shg-image-margin-container-s-f1d02796-995b-4bc6-a8a8-c76f507d8698"> <div class="s-f1d02796-995b-4bc6-a8a8-c76f507d8698 shg-align-container"> <div class="shg-c s-f1d02796-995b-4bc6-a8a8-c76f507d8698 shogun-image-container shogun-image-linked shg-align-center" style="opacity: 1;" id="s-f1d02796-995b-4bc6-a8a8-c76f507d8698"> <div class="shg-image-content-wrapper"> <a class="shogun-image-link" href="https://www.globaldentalshop.com/collections/vitality-product" target="_blank"> <img src="https://i.shgcdn.com/d47ff2a0-2d36-49e4-8846-2519c9531333/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="border-radius: 10px;" alt="" class="shogun-image " decoding="async" loading="eager"/> </a> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-f1d02796-995b-4bc6-a8a8-c76f507d8698" }
    }
  </script> </div> </div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "new homepage banner",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=66cba53b909aff5b4cde51b1&shop=www.globaldentalshop.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "new homepage banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
