<div class="shogun-root" data-shogun-id="66df4995d5948499b32399f4" data-shogun-site-id="ebede945-96ee-4e49-9818-825c29bb51da" data-shogun-section-id="66df4995d5948499b32399f4" data-shogun-section-version-id="66e1bd6fba90c554bbfbd959" data-shogun-platform-type="shopify" data-shogun-variant-id="66e1bd6fba90c554bbfbda2f" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2024-09-05-5919/66e1bd6fba90c554bbfbd959_66e1bd6fba90c554bbfbda2f.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin:700,400"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-09-05-5919/global-assets-88901f6b324eb975ba8033dcedd08422f2fd4db9.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-e6f7b442-1665-4d42-9b91-c6f1bb5c3181"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-08bd7702-d619-4df9-baa7-b6baa12b9997"> <div class="shg-row" data-col-grid-mode-on="true"> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"> <div id="s-484edf2a-c864-4582-8f30-3305912d3745-root"> <div class="shg-image-margin-container-s-484edf2a-c864-4582-8f30-3305912d3745" id="wrap-s-484edf2a-c864-4582-8f30-3305912d3745"> <div class="s-484edf2a-c864-4582-8f30-3305912d3745 shg-align-container"> <div class="shg-c s-484edf2a-c864-4582-8f30-3305912d3745 shogun-image-container shogun-image-linked shg-align-center" style="opacity: 1;" id="s-484edf2a-c864-4582-8f30-3305912d3745"> <div class="shg-image-content-wrapper"> <a class="shogun-image-link" href="https://www.globaldentalshop.com/#GDSShop"> <img srcset="https://i.shgcdn.com/313bfd14-8ba9-44fc-a93c-95a1f981a541/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/180x/ 180w,https://i.shgcdn.com/313bfd14-8ba9-44fc-a93c-95a1f981a541/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/360x/ 360w,https://i.shgcdn.com/313bfd14-8ba9-44fc-a93c-95a1f981a541/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/720x/ 720w" sizes="100vw" src="https://i.shgcdn.com/313bfd14-8ba9-44fc-a93c-95a1f981a541/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="border-radius: 10px;" alt="" class="shogun-image " decoding="async" loading="eager"/> </a> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-484edf2a-c864-4582-8f30-3305912d3745" }
    }
  </script> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-93bd6c53-09f0-4c25-a3e2-b1789dd5fdeb"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-79aead5c-e0b6-4c66-8dd6-6e6137d638f0-root"> <div class="shg-image-margin-container-s-79aead5c-e0b6-4c66-8dd6-6e6137d638f0" id="wrap-s-79aead5c-e0b6-4c66-8dd6-6e6137d638f0"> <div class="s-79aead5c-e0b6-4c66-8dd6-6e6137d638f0 shg-align-container"> <div class="shg-c s-79aead5c-e0b6-4c66-8dd6-6e6137d638f0 shogun-image-container shg-align-center" style="opacity: 1;" id="s-79aead5c-e0b6-4c66-8dd6-6e6137d638f0"> <div class="shg-image-content-wrapper"> <img srcset="https://i.shgcdn.com/61f3e55a-ca4a-481b-bdaf-50eeaa33afbd/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/180x/ 180w,https://i.shgcdn.com/61f3e55a-ca4a-481b-bdaf-50eeaa33afbd/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/360x/ 360w,https://i.shgcdn.com/61f3e55a-ca4a-481b-bdaf-50eeaa33afbd/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/720x/ 720w" sizes="100vw" src="https://i.shgcdn.com/61f3e55a-ca4a-481b-bdaf-50eeaa33afbd/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-79aead5c-e0b6-4c66-8dd6-6e6137d638f0" }
    }
  </script> <div id="s-00550cbb-e9e2-41ef-9c4b-902644f21349-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-00550cbb-e9e2-41ef-9c4b-902644f21349" class="shg-btn shg-cse shg-btn-text " href="https://www.globaldentalshop.com/pages/viskoot-instruction" target="_blank"> Click Here to Submit a W&H Repair Request </a> </div> <div id="s-818d5452-edbe-48f7-94c9-16ae77bf89e0-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-818d5452-edbe-48f7-94c9-16ae77bf89e0" class="shg-btn shg-cse shg-btn-text " href="https://www.globaldentalshop.com/pages/wh-repair" target="_blank"> Shop Spare or Replacement Products for your W&H Surgical Units and Handpieces </a> </div> </div> </div> </div> </div> <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-9d26b3d8-77eb-4ab8-a504-111ab25d25fd"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-5667bf7b-05ee-41d8-a132-472294b54d92-root"> <div class="shg-image-margin-container-s-5667bf7b-05ee-41d8-a132-472294b54d92" id="wrap-s-5667bf7b-05ee-41d8-a132-472294b54d92"> <div class="s-5667bf7b-05ee-41d8-a132-472294b54d92 shg-align-container"> <div class="shg-c s-5667bf7b-05ee-41d8-a132-472294b54d92 shogun-image-container shogun-image-linked shg-align-center" style="opacity: 1;" id="s-5667bf7b-05ee-41d8-a132-472294b54d92"> <div class="shg-image-content-wrapper"> <a class="shogun-image-link" href="http://berchook.viskoot.com/" target="_blank"> <img srcset="https://i.shgcdn.com/29b4306b-4d79-41c9-88ad-b57b30b56381/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/180x/ 180w,https://i.shgcdn.com/29b4306b-4d79-41c9-88ad-b57b30b56381/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/360x/ 360w,https://i.shgcdn.com/29b4306b-4d79-41c9-88ad-b57b30b56381/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/720x/ 720w,https://i.shgcdn.com/29b4306b-4d79-41c9-88ad-b57b30b56381/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/900x/ 900w" sizes="100vw" src="https://i.shgcdn.com/29b4306b-4d79-41c9-88ad-b57b30b56381/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="border-radius: 10px;" alt="" class="shogun-image " decoding="async" loading="eager"/> </a> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-5667bf7b-05ee-41d8-a132-472294b54d92" }
    }
  </script> <div id="s-e124b927-19cb-43a9-87bb-1a633104f389-root"> <div class="shg-image-margin-container-s-e124b927-19cb-43a9-87bb-1a633104f389" id="wrap-s-e124b927-19cb-43a9-87bb-1a633104f389"> <div class="s-e124b927-19cb-43a9-87bb-1a633104f389 shg-align-container"> <div class="shg-c s-e124b927-19cb-43a9-87bb-1a633104f389 shogun-image-container shogun-image-linked shg-align-center" style="opacity: 1;" id="s-e124b927-19cb-43a9-87bb-1a633104f389"> <div class="shg-image-content-wrapper"> <a class="shogun-image-link" href="https://www.globaldentalshop.com/collections/vitality-product" target="_blank"> <img srcset="https://i.shgcdn.com/d47ff2a0-2d36-49e4-8846-2519c9531333/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/180x/ 180w,https://i.shgcdn.com/d47ff2a0-2d36-49e4-8846-2519c9531333/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/360x/ 360w,https://i.shgcdn.com/d47ff2a0-2d36-49e4-8846-2519c9531333/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/720x/ 720w" sizes="100vw" src="https://i.shgcdn.com/d47ff2a0-2d36-49e4-8846-2519c9531333/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="border-radius: 10px;" alt="" class="shogun-image " decoding="async" loading="eager"/> </a> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-e124b927-19cb-43a9-87bb-1a633104f389" }
    }
  </script> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": " new homepage banner V2",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=66df4995d5948499b32399f4&shop=www.globaldentalshop.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": " new homepage banner V2",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
